---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Counter from '../components/Counter.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="mb-32 mt-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Statistics</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-3">
        <Counter icon="ion:star" count="572+" title="Stars in Total" sub="On GitHub" />
        <Counter icon="ion:download" count="78.000.000+" title="Total Downloads" sub="Modrinth & CurseForge" />
        <Counter icon="ion:code-slash" count="5+" title="Years" sub="Development experience" />
      </div>
    </div>
  </section>
</DefaultLayout>
<a rel="me" href="https://planetearth.social/@motschen">Mastodon</a>