---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import CallToAction from '../components/CallToAction.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="MidnightLib">
  <ContentMedia imgSrc="/midnightlib-example-code.png">
    <h2>Implement configurations easier than ever!</h2>
    <p class="text-2xl">
      Just create Java fields, annotate them with @Entry, maybe add some more additional options, and boom! <br>
      This example can be found <a href="https://github.com/TeamMidnightDust/MidnightLib/blob/architectury/MidnightConfigExample.java"
        >here</a>, and helps you get started (almost) faster than speed of light!
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/midnightlib-example.png" reverseImg={true}>
    <h2>User-friendly config screens</h2>
    <p class="text-2xl">
      Configuration screens are automatically created from config classes.<br>
      Here's one generated from a class similar to the one from above!
    </p>
  </ContentMedia>
  <section>
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:feather" title="Lightweight">
          Size of the .jar is currently just 50KB.<br>Everything essential for the config (including GUI) is only 30KB!
        </Feature>
        <Feature icon="mdi:coffee" title="JiJ-able">
          Bundle MidnightLib with your mod with ease. Gone are the days of installing dependencies manually!
        </Feature>
        <Feature icon="mdi:laptop" title="Automated">
          Automatic generation of config screens (and server-side commands) makes adding config options a breeze!
        </Feature>
        <Feature icon="mdi:cog" title="Powerful">
          Supports booleans, numbers (int, float, double), strings, enums, hex colors and string lists!
        </Feature>
        <Feature icon="mdi:person" title="User-friendly">
          Organize your config screen using comments, sliders, colors and tabs.
        </Feature>
        <Feature icon="mdi:world" title="Universal">
          MidnightLib is compatible with Quilt, Fabric and (Neo-)Forge, making it ideal for multiplatform mods!
        </Feature>
      </div>
    </div>
  </section>
  <CallToAction text="Start using MidnightLib right now!" 
  url_gh="https://github.com/TeamMidnightDust/MidnightLib" 
  url_mr="https://modrinth.com/mod/midnightlib"
  url_cf="https://www.curseforge.com/minecraft/mc-mods/midnightlib"
  url_wiki="/wiki/midnightlib"
  />
</DefaultLayout>
