---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8 text-center">
    <div class="container">
      <p>
        &copy; {currentYear} - MidnightDust. A project by <a
          href="https://github.com/Motschen">Martin Prokoph</a
        >.
      </p>
    </div>
  </section>
</footer>
